<div class="bg-nav d-flex flex-column flex-md-row align-items-center p-1 px-md-4 text-light border-bottom shadow-sm">
    <h5 class="mx-0 mr-md-auto font-weight-normal"><a href="/" class="navbar-brand text-light"
                                                      style="color: gold !important;">{{ "<" }}Expense Manager
        App{{ ">" }}</a>
    </h5>
    <p class="text-light pt-3">Hi, {{ uname }} | </p>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-light" href="/home" style="text-decoration: none">Home</a>
        <a class="p-2 text-light" data-toggle="modal" data-target="#addModal" style="cursor: pointer">Add Money</a>
        <a class="p-2 text-light" href="/settings" style="text-decoration: none">Settings</a>
    </nav>
    <a class="btn btn-outline-warning" href="/logout">Logout</a>
</div>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Money</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="/addmoney">
                    <div class="form-group">
                        <label for="purpose" class="col-form-label">Purpose of addition:</label>
                        <input type="text" class="form-control" id="purpose" name="purpose"/>
                    </div>
                    <div class="form-group">
                        <label for="amount" class="col-form-label">Amount:</label>
                        <input type="number" class="form-control" id="amount" name="amount"/>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-success" value="Add Money"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>